img {
	width: 100%;
	height: auto;
}


header {
	height: 800px;
	margin: 0 0 100px 0;
	background-image: url("images/header.png");
	background-position: 90% 30%;
	background-size: cover;
	position: relative;
}

header h1 {
    color: white;
    font-size: 40px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
    margin: 20% 20% 20% 20%;
}
header p {
    color: white;
    font-size: 20px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.header_button {
	font-size: 15px;
}

header button {
	size: 100px;
    background-color: #1E90FF;
    color: #fff;
    border: 80px;
    border-radius:50px;
	padding: 14px 40px;
	cursor: pointer;
	position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -60%;
    transform: translate(-60%, -60%)
}

.title_section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius-size);
}

.social_icons {
    position: absolute;
    top: 5%;
    right: 15%;
    display: grid;
	grid-auto-flow: column;
	justify-content: flex-end;

}
i {
    display: inline; 
    padding: 20px; 
}

nav {
	position: fixed;
	top: 5%;
	width: 100%;
	justify-content: flex-end;
}
nav a {
	font-size: 15px;
	padding: 8px 15px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: white;
	text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.1);
}

.logo {
    position: relative;
    width: 150px;
    top: 32px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


ul {
    margin-right: 15px; 
    padding: 4px; 
}

nav ul li {
    display: inline; 
    margin-left: 5px; 
    padding: 10px; 
    transition: all .2s ease-in-out;

}

